{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    DnDaddies Gym
  </h3>
  <p>
    A gym system for the dads to keep track of their stats and goals
  </p>
</section>